*.txt
zhwiki-latest-pages-articles.xml.bz2
combined.vectors
combined.model.syn1neg.npy
combined.model.wv.vectors.npy

word2vec-Chinese/
.vscode/
.ipynb_checkpoints/

# Not ignore these files
!evasampledata4-TaskAA.txt
!NLPCC2016_Stance_Detection_Task_A_Testdata.txt